<h1>Editing Nationality</h1>

<%= render 'form', pmnationality: @pmnationality %>

<%= link_to 'Show', @pmnationality , class: "btn btn-info"%> |
<%= link_to 'Back', pmnationalities_path , class: "btn btn-warning" %>
