<p id="notice"><%= notice %></p>

<h2>
  <strong>Name:</strong>
  <%= @pmnationality.name %>
</h2>

<%= link_to 'Edit', edit_pmnationality_path(@pmnationality) , class: "btn btn-warning" %> |
<%= link_to 'Back', pmnationalities_path , class: "btn btn-info"%>
