<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pmnationality.name %>
</p>

<%= link_to 'Edit', edit_pmnationality_path(@pmnationality) %> |
<%= link_to 'Back', pmnationalities_path %>
