<h1>Editing Tournament</h1>

<%= render 'form', pmtournament: @pmtournament %>

<%= link_to 'Show', @pmtournament , class: "btn btn-info"%> |
<%= link_to 'Back', pmtournaments_path , class: "btn btn-warning"%>
