<p id="notice"><%= notice %></p>

<h2>
  <strong>Number:</strong>
  <%= @pmcourt.number %>
</h2>

<%= link_to 'Edit', edit_pmcourt_path(@pmcourt) , class: "btn btn-warning" %> |
<%= link_to 'Back', pmcourts_path, class: "btn btn-info"%>
