<p id="notice"><%= notice %></p>

<h2>
  <strong>Round:</strong>
  <%= @pmround.round %>
</h2>

<%= link_to 'Edit', edit_pmround_path(@pmround) , class: "btn btn-warning"%> |
<%= link_to 'Back', pmrounds_path , class: "btn btn-info"%>
