<p id="notice"><%= notice %></p>

<h2>
  <strong>Name:</strong>
  <%= @pmcountry.name %>
</h2>

<%= link_to 'Edit', edit_pmcountry_path(@pmcountry), class: "btn btn-warning" %> |
<%= link_to 'Back', pmcountries_path, class: "btn btn-info"%>
